<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhongwang.data.dao.SupplierZs0162Mapper" >
  <resultMap id="BaseResultMap" type="com.zhongwang.data.entity.SupplierZs0162" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="company_id" property="companyId" jdbcType="VARCHAR" />
    <result column="supplier_id" property="supplierId" jdbcType="VARCHAR" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="caseCode" property="casecode" jdbcType="VARCHAR" />
    <result column="execCourtName" property="execcourtname" jdbcType="VARCHAR" />
    <result column="pname" property="pname" jdbcType="VARCHAR" />
    <result column="partyCardNum" property="partycardnum" jdbcType="VARCHAR" />
    <result column="caseCreateTime" property="casecreatetime" jdbcType="VARCHAR" />
    <result column="execMoney" property="execmoney" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, company_id, supplier_id, add_time, caseCode, execCourtName, pname, partyCardNum, 
    caseCreateTime, execMoney
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zhongwang.data.entity.SupplierZs0162Example" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from supplier_zs0162
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from supplier_zs0162
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from supplier_zs0162
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhongwang.data.entity.SupplierZs0162Example" >
    delete from supplier_zs0162
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zhongwang.data.entity.SupplierZs0162" >
    insert into supplier_zs0162 (id, company_id, supplier_id, 
      add_time, caseCode, execCourtName, 
      pname, partyCardNum, caseCreateTime, 
      execMoney)
    values (#{id,jdbcType=INTEGER}, #{companyId,jdbcType=VARCHAR}, #{supplierId,jdbcType=VARCHAR}, 
      #{addTime,jdbcType=TIMESTAMP}, #{casecode,jdbcType=VARCHAR}, #{execcourtname,jdbcType=VARCHAR}, 
      #{pname,jdbcType=VARCHAR}, #{partycardnum,jdbcType=VARCHAR}, #{casecreatetime,jdbcType=VARCHAR}, 
      #{execmoney,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhongwang.data.entity.SupplierZs0162" >
    insert into supplier_zs0162
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="supplierId != null" >
        supplier_id,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="casecode != null" >
        caseCode,
      </if>
      <if test="execcourtname != null" >
        execCourtName,
      </if>
      <if test="pname != null" >
        pname,
      </if>
      <if test="partycardnum != null" >
        partyCardNum,
      </if>
      <if test="casecreatetime != null" >
        caseCreateTime,
      </if>
      <if test="execmoney != null" >
        execMoney,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null" >
        #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="casecode != null" >
        #{casecode,jdbcType=VARCHAR},
      </if>
      <if test="execcourtname != null" >
        #{execcourtname,jdbcType=VARCHAR},
      </if>
      <if test="pname != null" >
        #{pname,jdbcType=VARCHAR},
      </if>
      <if test="partycardnum != null" >
        #{partycardnum,jdbcType=VARCHAR},
      </if>
      <if test="casecreatetime != null" >
        #{casecreatetime,jdbcType=VARCHAR},
      </if>
      <if test="execmoney != null" >
        #{execmoney,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhongwang.data.entity.SupplierZs0162Example" resultType="java.lang.Integer" >
    select count(*) from supplier_zs0162
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update supplier_zs0162
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.companyId != null" >
        company_id = #{record.companyId,jdbcType=VARCHAR},
      </if>
      <if test="record.supplierId != null" >
        supplier_id = #{record.supplierId,jdbcType=VARCHAR},
      </if>
      <if test="record.addTime != null" >
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.casecode != null" >
        caseCode = #{record.casecode,jdbcType=VARCHAR},
      </if>
      <if test="record.execcourtname != null" >
        execCourtName = #{record.execcourtname,jdbcType=VARCHAR},
      </if>
      <if test="record.pname != null" >
        pname = #{record.pname,jdbcType=VARCHAR},
      </if>
      <if test="record.partycardnum != null" >
        partyCardNum = #{record.partycardnum,jdbcType=VARCHAR},
      </if>
      <if test="record.casecreatetime != null" >
        caseCreateTime = #{record.casecreatetime,jdbcType=VARCHAR},
      </if>
      <if test="record.execmoney != null" >
        execMoney = #{record.execmoney,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update supplier_zs0162
    set id = #{record.id,jdbcType=INTEGER},
      company_id = #{record.companyId,jdbcType=VARCHAR},
      supplier_id = #{record.supplierId,jdbcType=VARCHAR},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      caseCode = #{record.casecode,jdbcType=VARCHAR},
      execCourtName = #{record.execcourtname,jdbcType=VARCHAR},
      pname = #{record.pname,jdbcType=VARCHAR},
      partyCardNum = #{record.partycardnum,jdbcType=VARCHAR},
      caseCreateTime = #{record.casecreatetime,jdbcType=VARCHAR},
      execMoney = #{record.execmoney,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhongwang.data.entity.SupplierZs0162" >
    update supplier_zs0162
    <set >
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null" >
        supplier_id = #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="casecode != null" >
        caseCode = #{casecode,jdbcType=VARCHAR},
      </if>
      <if test="execcourtname != null" >
        execCourtName = #{execcourtname,jdbcType=VARCHAR},
      </if>
      <if test="pname != null" >
        pname = #{pname,jdbcType=VARCHAR},
      </if>
      <if test="partycardnum != null" >
        partyCardNum = #{partycardnum,jdbcType=VARCHAR},
      </if>
      <if test="casecreatetime != null" >
        caseCreateTime = #{casecreatetime,jdbcType=VARCHAR},
      </if>
      <if test="execmoney != null" >
        execMoney = #{execmoney,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhongwang.data.entity.SupplierZs0162" >
    update supplier_zs0162
    set company_id = #{companyId,jdbcType=VARCHAR},
      supplier_id = #{supplierId,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      caseCode = #{casecode,jdbcType=VARCHAR},
      execCourtName = #{execcourtname,jdbcType=VARCHAR},
      pname = #{pname,jdbcType=VARCHAR},
      partyCardNum = #{partycardnum,jdbcType=VARCHAR},
      caseCreateTime = #{casecreatetime,jdbcType=VARCHAR},
      execMoney = #{execmoney,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>